/*aqui se definen unos estilos que siempre se van a aplicar*/
/* @font-face {
  font-family: 'Opulent';
  src: url('./assets/fonts/OPN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Para evitar scroll no deseado */

    /* font-family: 'Opulent', serif ,!important; */
  }

